.activo{
    background: green;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    padding: 3px 10px;
    border-radius: 5px;
}
.inactivo{
    background: red;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    padding: 3px 10px;
    border-radius: 5px;
}