@import '../../../../scss/variables';
label,
select{
    font-size: 12px;
}
label>span{
    display: none;
    &.isvalid{
        display: inline-block;
    }
}
.isvalid{
    color: $red;
    font-size: 10px;
}