<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Mantenimiento de usuarios</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label for="">Perfil</label>
           <select name="" id="">
               <option value="">Administrador</option>
           </select>
        </div>
        <div class="col-4">
            <label for="">Nombre</label>
            <input type="text">
        </div>
        <div class="col-4">
            <label for="">Apellido</label>
            <input type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label for="">Foto</label>
           <select name="" id="">
               <option value="">Administrador</option>
           </select>
        </div>
        <div class="col-4">
            <label for="">Usuario</label>
            <input type="text">
        </div>
        <div class="col-4">
            <label for="">Clave</label>
            <input type="text">
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <button>Guardar</button>
            <button>CAncelar</button>
        </div>
    </div>
</div>