img{
    width: 100px;
    height: auto;
}   
.bg-ninio{
    background-size: cover;
    height: auto;
    width: 30%;
    position: absolute;
    bottom: 0;
}

ol{
    li{
        margin-bottom: 20px;
        a{
            cursor: pointer;
        }
    }
}