<div class="container">
  <div class="row align-items-center">
    <div class="col-8">
      <h1>Mantenimiento de Usuarios</h1>
    </div>
    <div class="col-4 text-end">
      <app-button
        [texto]="btnAdd.texto"
        [color]="btnAdd.color"
        [type]="btnAdd.type"
        (evento)="viewModal()"
      ></app-button>
      <!-- <button>Agregar <i class="fa fa-plus"></i></button> -->
    </div>

    <div class="clearfix"></div>
  </div>
  <!-- <div class="row">
        <div class="col-6">
            <label for="profile">Perfil</label>
            <select name="profile" id="">
                <option *ngFor="let profile of listProfile" value="">{{ profile.profile }}</option>
            </select>
        </div>
        <div class="col-6">
            <label>Usuario:</label>
        </div>
        <div class="clearfix"></div>
    </div> -->
  <div class="row">
    <div class="col-12">
      <mat-form-field appearance="standard">
        <mat-label>Búsqueda de usuarios</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Henry"
          #input
        />
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let row">{{ row.name + ' ' + row.lastName}}</td>
          </ng-container>

          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
            <td mat-cell *matCellDef="let row">{{ row.user}}</td>
          </ng-container>

          <ng-container matColumnDef="rol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rol</th>
            <td mat-cell *matCellDef="let row" [ngSwitch]="row.rol">
              <span *ngSwitchCase="1">Administrador</span>
              <span *ngSwitchCase="2">Docente</span>
              <span *ngSwitchCase="3">Alumno</span>
              <span *ngSwitchDefault>(Sin categoría)</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="avatar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Foto</th>
            <td mat-cell *matCellDef="let row">
              <!-- <img width="30" appNotImage src="./assets/user/{{ row?.avatar }}.jpg" alt="{{ row?.avatar }}"> -->
              <img width="30" appNotImage src="{{ row.avatar }}" alt="{{ row?.avatar }}">
            </td>
          </ng-container>

          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
            <td mat-cell *matCellDef="let row"><span [class]="row.state ? 'activo' : 'inactivo'">{{row.state ? 'activo' : 'inactivo'}}</span></td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Opciones</th>
            <td mat-cell *matCellDef="let row">
                <em (click)="viewModal(row)" class="fa fa-edit h6 link"></em>
                <em (click)="deleteUser(row.id)" class="fa fa-trash h6 ms-3 link"></em>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="6">
              No data matching the filter "{{ input.value }}"
            </td>
          </tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page of users"
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
