<div *ngIf="display" class="dialog-content d-flex align-items-center justify-content-center">
    <div class="dialog text-center">
        <span *ngIf="respuesta">CORRECTO</span>    
        <span *ngIf="!respuesta">INCORRECTO</span>    
        <hr>
        <button (click)="nextTo()">Siguiente</button>
    </div>
</div>
<div class="row" *ngIf="currentItem">
    <div class="col-12 text-center">
        <p>¿Es un(a) {{ currentItem?.name }}?</p>
        <img src="./assets/categorias/{{ currentItem?.img }}.png" alt="">
        <hr>
        <button (click)="validateOption(currentItem, true)">SI</button>
        <button (click)="validateOption(currentItem, false)">NO</button>
        <hr>
        <button (click)="validateOption(currentItem, null)">siguiente</button>
        <a routerLink="/dashboard">volver al menú</a>
    </div>
</div>