@import "../../../scss/variables";
img {
    width: 150px;
    height: auto;
}
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}
.dialog {
    & {
        transform: rotate(4deg);
        background: white;
        padding: 11px;
        border-radius: 10px;
        @media (max-width: 768px) {
            width: 89%;
        }
    }
    &-content {
        position: absolute;
        // background: rgba($color: #000000, $alpha: 0.5);
        width: calc(100% - 38px);
        height: calc(100% - 86px);
        z-index: 1;
    }
    &-text {
        border-radius: 9px;
        width: 400px;
        height: 280px;
        background: $magenta;
        // border: 10px solid white;
        font-size: 40px;
        position: relative;
        @media (max-width: 768px) {
            width: 100%;
            height: 280px;
        }
        img.false {
            width: 230px;
            height: auto;
        }
        a {
            font-size: 20px;
            position: absolute;
            right: 0;
            display: block;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.btn {
    &_next {
        background: transparent;
        width: auto;
        padding: 0 15px;
        height: 70px;
        border: 0;
        background-color: $purple_light;
        -moz-border-radius: 20% 40% 40% 20%/42% 80% 80% 40%;
        -webkit-border-radius: 20% 40% 40% 20%/42% 80% 80% 40%;
        border-radius: 20% 40% 40% 20%/42% 80% 80% 40%;
        box-shadow: -10px 10px 0px $purple;
        font-size: 30px;
        color: $magenta;
        -webkit-text-stroke: 1px $purple;
        border: 1px solid $purple;
        margin-right: 20px;
    }
    &_trn {
        background: transparent;
        width: 126px;
        height: 70px;
        border: 0;
        background-color: $purple_light;
        -moz-border-radius: 20% 40% 40% 20%/42% 80% 80% 40%;
        -webkit-border-radius: 20% 40% 40% 20%/42% 80% 80% 40%;
        border-radius: 20% 40% 40% 20%/42% 80% 80% 40%;
        box-shadow: -10px 10px 0px $purple;
        font-size: 50px;
        color: $magenta;
        -webkit-text-stroke: 3px $purple;
        border: 1px solid $purple;
        margin-left: 20px;
    }
}

.cdr {
    background: $magenta;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    height: 280px;
    transform: rotate(-4deg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -10px 10px 0px $purple;
    margin-bottom: 60px;
    @media (max-width: 768px) {
        margin-top: 50px;
        width: 90%;
        border: 1px solid $purple;
    }
    &:before {
        content: "";
        background: $magenta;
        width: 100px;
        height: 100px;
        display: block;
        border-radius: 15px;
        position: absolute;
        left: 50%;
        margin-left: -50px;
        transform: rotate(-45deg);
        bottom: -43px;
        box-shadow: -10px 1px 0px $purple;
    }
    &__content {
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(4deg);
        height: auto;
        background: white;
        border-radius: 10px;
        padding: 10px;
    }
}
