.content{
    min-height: calc(100vh - 80px);
}
.bar{
    height: 40px;
}
.dialog-content {
    position: absolute;
    background: rgba($color: #000000, $alpha: 0.8);
    width: 100%;
    height: 100%;
    z-index: 1;
}
ul{
    list-style: none;
    li {
        display: inline-block;
        border-right: 1px solid white;
        padding: 0 10px;
    }
}