<div class="container-fluid h100 p-3">
    <div class="row bar">
        <a (click)="back()">REGRESAR</a>        
    </div>
  <div class="row m-0 rounded-3 bor h-100">
      <div class="col-12 text-center">
          <img src="../../../assets/globo_rojo.png" alt="" />
          <img src="../../../assets/globo_rojo.png" alt="" />
          <img src="../../../assets/ninio.png" alt="" />
          <img src="../../../assets/globo_rojo.png" alt="" />
          <img src="../../../assets/globo_rojo.png" alt="" />
      </div>
  </div>
</div>
