<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Mantenimiento de Opciones</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label for="">Categoría</label>
      <select name="" id="">
        <option value="">Administrador</option>
      </select>
    </div>
    <div class="col-4">
      <label for="">Nivel</label>
      <select name="" id="">
        <option value="">1</option>
        <option value="">2</option>
      </select>
    </div>

  </div>
  <div class="row">
    <div class="col-4">
      <label for="">Nombre</label>
      <input type="text" />
    </div>
    <div class="col-4">
      <label for="">Imagen</label>
      <input type="text" />
    </div>
    <div class="col-4">
      <label for="">Estado</label>
      <input type="text" />
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <button>Guardar</button>
      <button>CAncelar</button>
    </div>
  </div>
</div>
