<div class="container" [formGroup]="formCategory">
  <div class="row">
    <div class="col-12">
      <ng-container *ngIf="data === undefined; else Editar">
        <h2>Nueva categoría</h2>
      </ng-container>
      <ng-template #Editar>
        <h2>Editar categoría</h2>
      </ng-template>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-12">
      <app-input
        [formParent]="formCategory"
        [label]="InpName.text"
        [placeholder]="InpName.place"
        [required]="InpName.required"
        [name]="InpName.name"
        [type]="InpName.type"
      ></app-input>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="row">
    <!-- <div class="col-4">
            <label for="">Alias</label>
            <input type="text">
        </div> -->
    <div class="col-12 text-end">
      <mat-slide-toggle
        formControlName="estado"
        class="example-margin"
        checked="true"
      >
        Estado
      </mat-slide-toggle>
    </div>
    <div class="clearfix"></div>
  </div>
<hr>
  <div class="row">
    <div class="col-12">
      <ng-container *ngIf="data === undefined; else Edit">
        <app-button
          [texto]="btnSave.texto"
          [color]="btnSave.color"
          [type]="btnSave.type"
          (evento)="saveCategory()"
        ></app-button>
      </ng-container>
      <ng-template #Edit>
        <app-button
          [texto]="btnEdit.texto"
          [color]="btnEdit.color"
          [mat-dialog-close]="form"
        ></app-button>
      </ng-template>
      <app-button
        [texto]="btnCancel.texto"
        [color]="btnCancel.color"
        [type]="btnCancel.type"
        (evento)="cancel()"
      ></app-button>
    </div>
    <div class="clearafix"></div>
  </div>
</div>
