<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Mantenimiento de Categorías</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label for="">Nombre</label>
            <input type="text">

        </div>
        <div class="col-4">
            <label for="">Alias</label>
            <input type="text">
        </div>

    </div>

    <div class="row">
        <div class="col-6">
            <button>Guardar</button>
            <button>CAncelar</button>
        </div>
    </div>
</div>