table {
    width: 100%;
  }
  tr.mat-row{
    border-bottom: 6px solid rgba(0,0,0,.12);
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
      text-align: center;
    width: 16%;
    vertical-align: middle;
  }

  ::ng-deep .mat-sort-header-container{
      justify-content: center;
  }