@import "./scss/fonts";
@import "./scss/variables";
@import "~font-awesome/css/font-awesome.css";
@import "~angular-sidebar-menu/themes/admin-lte.scss";

@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body {
    font-size: $font-size;
    font-family: "Milky Coffee";
    color: $orange;
    background-image: radial-gradient(circle, #6101a1, #56018f, #4b017d, #40016b, #36015a);
    margin: 0
}
.corner {
    background: url(./assets/corner.png);
    width: 274px;
    height: 356px;
    position: absolute;
    z-index: -1;
    &_top {
        @extend .corner;
        right: 0;
        top: 0;
    }
    &_bottom {
        @extend .corner;
        left: 0;
        bottom: 0;
        transform: rotate(180deg);
    }
}
a {
    color: #ff01c2;
    text-decoration: none;
    // display: contents;
    .bar & {
        color: white;
        &:hover {
            text-decoration: underline;
        }
        @media (max-width: 768px) {
            color: white;
            display: inline-block;
        }
    }
}
.bor {
    border: 3px dashed white;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    display: table-cell;
    //width: 25%;
}
.link {
    cursor: pointer;
    &:hover {
        color: $magenta;
    }
}

.activo{
    background: green;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    padding: 3px 10px;
    border-radius: 5px;
}
.inactivo{
    background: red;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    padding: 3px 10px;
    border-radius: 5px;
}

.mat-dialog-container{
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: 12px;

}

.row{
    margin-bottom: 10px;
}

.imgView{
    width: 60px;
    height: auto;
    
}