$beige: beige;
$gray: #aaa;
$gray_dark: #333;
$card-footer: beige;
$red: rgb(167, 11, 11);
$green: green;

$orange: #ffc406;
$purple: #36015a;
$purple_light: #6101a1;
$magenta: #ff01c2;

$font-size: 12px;